{% extends "base.html" %}

{% block title %}
Student Management Program
{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="container">
            <br><br>
            <h1 class="text-center">Welcome to Student Management System</h1>
            <br><br>
            
            <div class="d-grid gap-2">
                <button class="btn btn-primary p-3 m-1" type="button" formaction="/records">View Records</button>
                <button class="btn btn-primary p-3 m-1" type="button" formaction="/students">View Students</button>
                <button class="btn btn-primary p-3 m-1" type="button" formaction="/instructors">View Instructors</button>
                <button class="btn btn-primary p-3 m-1" type="button" formaction="/grades">View Grades</button>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock body %}