{% extends "base.html" %}

{% block title %}
Student Management Program
{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="container">
            <br><br>
            <h1 class="text-center">Welcome to Student Management System</h1>
            <br><br>
            
            <div class="d-grid gap-2">
                <a class="btn btn-primary p-3 m-1" href="/records">View Records</a>
                <a class="btn btn-primary p-3 m-1" href="/students">View Students</a>
                <a class="btn btn-primary p-3 m-1" href="/instructors">View Instructors</a>
                <a class="btn btn-primary p-3 m-1" href="/grades">View Grades</a>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock body %}