{% extends "base.html" %}

{% block title %}
Student Records
{% endblock title %}

{% block body %}
<br><br>
<div class="container">
    <h1 class="text-center">Student Records</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRecordModal">+ Add Record</button>
    </div>

    <div class="modal fade" id="addRecordModal" tabindex="-1" aria-labelledby="addRecordModalLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRecordModalLabel">Add Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addRecordForm" action="/add_record/" method="post">
                        <div class="mb-3">
                          <label for="studentID" class="form-label">Student ID</label>
                          <select class="form-control" id="StudentID" name="StudentID">
                            {% for column in students %}
                                <option value="{{ column[0] }}">{{ column[0] }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="mb-3">
                            <label for="courseID" class="form-label">Course Code</label>
                            <select class="form-control" id="CourseID" name="CourseID">
                              {% for column in courses %}
                                  <option value="{{ column[0] }}">{{ column[0] }}</option>
                              {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="grade" class="form-label">Grade</label>
                            <select class="form-control" id="grade" name="grade">
                              {% for column in grades %}
                                  <option value="{{ column[0] }}">{{ column[0] }}</option>
                              {% endfor %}
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="remark" class="form-label">Remark</label>
                            <select class="form-control" id="remark" name="remark">
                                <option value="passed">Passed</option>
                                <option value="failed">Failed</option>
                            </select>
                          </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" form="addRecordForm" class="btn btn-primary">Add Record</button>
                </div>
            </div>
        </div>
    </div>

    {% for row in records %}
    <div class="modal fade" id="editRecordModal-{{ row[0] }}" tabindex="-1" aria-labelledby="editRecordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editRecordModalLabel">Edit Record ({{ row[0] }})</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editRecordForm-{{ row[0] }}" action="/edit_record/{{ row[0] }}" method="post">
                    <div class="mb-3">
                        <label for="studentID" class="form-label">Student ID</label>
                        <select class="form-control" id="StudentID" name="StudentID">
                        {% for column in students %}
                            <option value="{{ column[0] }}" {% if column[0] == row[1] %} selected {% endif %}>{{ column[0] }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="courseID" class="form-label">Course Code</label>
                        <select class="form-control" id="CourseID" name="CourseID">
                            {% for column in courses %}
                                <option value="{{ column[0] }}" {% if column[0] == row[6] %} selected {% endif %}>{{ column[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="grade" class="form-label">Grade</label>
                        <select class="form-control" id="grade" name="grade">
                            {% for column in grades %}
                                <option value="{{ column[0] }}" {% if column[0] == row[8] %} selected {% endif %}>{{ column[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="remark-{{ row[0] }}" class="form-label">Remark</label>
                        <select class="form-control" id="remark-{{ row[0] }}" name="remark">
                            <option value="passed" {% if row[8] != 5.00 %}selected{% endif %}>Passed</option>
                            <option value="failed" {% if row[8] == 5.00 %}selected{% endif %}>Failed</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" form="editRecordForm-{{ row[0] }}" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="deleteRecordModal-{{ row[0] }}" tabindex="-1" aria-labelledby="deleteRecordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteRecordModalLabel">Delete Record ({{ row[0] }})</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete record at index {{ row[0] }}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/delete_record/{{ row[0] }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Student ID</th>
            <th scope="col">Name</th>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Remark</th>
        </tr>
        </thead>
        <tbody>
            {% for row in records %}
                <tr>
                    <th  scope="row">{{ row[0] }}</th>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[4] }}, {{ row[2] }} {{ row[3] }} {{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td><a class="link-info" data-bs-toggle="modal" data-bs-target="#editRecordModal-{{ row[0] }}">Edit</a></td>
                    <td><a class="link-danger" data-bs-toggle="modal" data-bs-target="#deleteRecordModal-{{ row[0] }}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}